* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: black;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 10px;
  font-size: 15px;
  width: 33.33%;
}

.tablink:hover {
  background-color: #777;
}

.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#about {background-color: #D87531;background-image: url(img4b.jpg);background-attachment: fixed;background-position: center;background-size: cover;}
#Skills {background-color: #54DFF4;background-image: url(img16b.jpg);background-attachment: fixed;background-position: center;background-size: cover;}
#resume {background-color: #95CC3B;background-image: url(img11b.jpg);background-attachment: fixed;background-position: center;background-size: cover;}
#intro {margin-top:20%;font-size:15px;}
#iframecontainer {margin-top:-10px;font-size:15px;}



@media screen and (min-width: 768px) {
	#about {background-color: #D87531;background-image: url(img4a.jpg);background-attachment: fixed;background-position: center;background-size: cover;}
	#Skills {background-color: #54DFF4;background-image: url(img16a.jpg);background-attachment: fixed;background-position: center;background-size: cover;}
	#resume {background-color: #95CC3B;background-image: url(img11a.jpg);background-attachment: fixed;background-position: center;background-size: cover;}
	#intro {margin-top:5%;font-size:25px;}
	#iframecontainer {margin-top:30px;font-size:18px;}

}

@media screen and (max-width: 320px) {
	#about {background-color: #D87531;background-image: url(img4b.jpg);background-attachment: fixed;background-position: center;background-size: cover;}
	#Skills {background-color: #54DFF4;background-image: url(img16b.jpg);background-attachment: fixed;background-position: center;background-size: cover;}
	#resume {background-color: #95CC3B;background-image: url(img11b.jpg);background-attachment: fixed;background-position: center;background-size: cover;}
	#intro {margin-top:-15px;font-size:10px;}
	#iframecontainer {margin-top:-15px;font-size:10px;}

}




#nametitle {
	position: relative;
	font-variant: small-caps;
	font-size: 25px;
	color: #316ccc;
}

@media screen and (min-width: 768px) {
	#nametitle {position: relative;font-variant: small-caps;font-size: 60px;color: #316ccc;}
}

@media screen and (max-width: 320px) {
	#nametitle {position: relative;font-variant: small-caps;font-size: 20px;color: #316ccc;}
}

#resume3 {
   height:420px;
}

@media only screen and (min-width: 768px) {
   #resume3 {height:600px;}
}

@media only screen and (max-width: 320px) {
   #resume3 {height:200px;}
}





a {
	text-decoration: none;
	color: #fff;
	
}

a:hover {
	text-decoration: none;
}


div.fixed2 {
	position: fixed;
	right: 10px;
	bottom:0px;
	z-index: 10;
}

div.fixed3 {
	position: fixed;
	left: 10px;
	bottom:10px;
	z-index: 10;
}

#mySidenav2 a {
    position: absolute;
    bottom: 10px;
    transition: 0.5s;
    text-decoration: none;
    font-size: 18px;
    text-align: bottom;
    color: white;
    border-radius: 20px 20px 20px 20px;
	box-shadow: 0 0 6pt 4pt black;
	text-shadow: 2pt 4pt 3pt white;
}

#mySidenav2 a:hover {
    bottom: 12px;
	font-size: 20px;
	box-shadow: 0 0 6pt 4pt white;
	z-index: 11;
}


#Linkedin2 {
    right: 5px;
	font-size: 12px;
	font-weight: bold;
}

#Instagram2 {
    right: 60px;
	background-repeat: no-repeat;
	font-size: 12px;
	font-weight: bold;
}


#Email2 {
    right: 115px;
	font-size: 12px;
	font-weight: bold;
}


